.menu-list::-webkit-scrollbar{
    display: none;
}
@media (max-width:1050px) {
    .menu-header  {
    font-size: 18px;
     }
    .menu-content
    {
        font-size: 14px;
    }

}

@media (max-width:900px) {
    .menu-header {
     font-size: 18px;
     }
    
   .menu-content {
    font-size: 14px;
    }

  

}

@media (max-width:750px) {


    .menu-header {
       
            font-size: 13px;
    }
    .menu-content {
      max-width: 100%;
      font-size: 10px;
        }
}